# MongoDB
MONGO_URI=mongodb://localhost:27017
MONGO_DB=wplace
MONGO_COLLECTION=landing_zone
MONGO_TRANSFORMED_COLLECTION=transformed_zone

# MinIO
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=your_access_key_here
MINIO_SECRET_KEY=your_secret_key_here
MINIO_BUCKET=wrc-landing
MINIO_TRANSFORMED_BUCKET=wrc-transformed

# environment
.env
venv/

# python
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# scrapy
.scrapy/

# dagster
$DAGSTER_HOME/
dagster.yaml

# OS
.DS_Store